__pycache__/
*.pyc
*.pyo
*.pyd

.backend_pid
.DS_Store

.venv/
venv/
env/

logs/
outputs/
temp_frames/
tmp_redlight_frames/
tmp_redlight_output_frames/
tmp_wrongside_frames/
tmp_wrongside_output_frames/

tmp_*.jpg
tmp_*.png
tmp_*.mp4

backend/traffic_violations.db
traffic_violations.db

backend/static/images/helmet/
backend/static/images/red_light/
backend/static/images/wrong_side/
backend/static/images/live/
